version: 2.1
orbs:
  node: circleci/node@4.1.0
  slack: circleci/slack@4.1.1
jobs:
  slack-notify:
    docker:
      - image: cimg/base:stable
    steps:
      - slack/notify:
          event: pass
          template: success_tagged_deploy_1
      - slack/notify:
          event: fail
          template: basic_fail_1
workflows:
  node-tests:
    jobs:
      - node/test
      - slack-notify:
          context: SLACK
